* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    245.59deg,
    #4d9559 0%,
    #38703d 28.53%,
    #133917 75.52%
  );
}
.container {
  width: 1350px;
  margin: 0 auto;
}
header {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  background: transparent;
}
.logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}
.navlist {
  display: flex;
}
.navlist a {
  color: #fff;
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all 0.55s ease;
}
.navlist a:hover {
  border-bottom: 2px solid white;
  transition: all 0.55s ease;
}
#menu-icon {
  color: #fff;
  font-size: 35px;
  z-index: 1001;
  cursor: pointer;
  display: none;
}
.hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    245.59deg,
    #4d9559 0%,
    #38703d 28.53%,
    #133917 75.52%
  );
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}
section {
  padding: 0 19%;
}
.hero-text h5 {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 40px;
}
.hero-text h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 90px;
  line-height: 1;
  color: #fff;
  margin: 0 0 45px;
}
.hero-text h4 {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}
.hero-text p {
  color: #fff;
  font-size: 15px;
  line-height: 1.9;
  margin-bottom: 40px;
}
.hero-img img {
  width: 550px;
  height: 400px;
}
.hero-text a {
  display: inline-block;
  color: #fff;
  background: #4d9559;
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all 0.55s ease;
}
.hero-text a:hover {
  background: transparent;
  border: 1px solid #fff;
  transform: translateX(8px);
}
.hero-text a.ctaa {
  background: transparent;
  border: 1px solid #fff;
  /* margin-left: 20px; */
}
.hero-text a.ctaa i {
  vertical-align: middle;
  margin-left: 55px;
}
.icons {
  position: absolute;
  top: 50%;
  padding: 0 59%;
  transform: translateX(-50%);
}
.icons i {
  display: block;
  margin: 20px 0;
  margin-left: 400px;
  font-size: 24px;
  color: #fff;
  transition: all 0.55s ease;
}
.icons i:hover {
  color: #4d9559;
  transform: translateY(-5px);
}
.scroll-down {
  position: absolute;
  bottom: 6%;
  right: 9%;
}
.scroll-down i {
  display: block;
  padding: 12px;
  font-size: 25px;
  color: #fff;
  background: #4d9559;
  border-radius: 30px;
  transition: all 0.5s ease;
}
.scroll-down i:hover {
  transform: translateY(-5px);
}
/* MEDIA QUERY */
@media screen and (max-with: 1535px) {
  header {
    padding: 15px 3%;
    transition: 0.2;
  }
  .scroll-down {
    right: 3%;
    transition: 0.2s;
  }
}
@media screen and (max-with: 1460px) {
  section {
    padding: 0 12%;
    transition: 0.2s;
  }
}
@media screen and (max-with: 1340px) {
  .hero-img img {
    width: 550px;
    height: 700px;
  }
  .hero-text h1 {
    font-size: 75px;
    margin: 0 0 30px;
  }
  .hero-text h5 {
    margin-bottom: 25px;
  }
}
@media screen and (max-with: 1195px) {
  section {
    padding: 0 3%;
    transition: 0.2s;
  }
  .hero-text {
    padding-top: 115px;
  }
  .hero-img {
    text-align: center;
  }
  .hero-img img {
    width: 560px;
    height: 700px;
  }
  .hero{
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
  .icons{
    display: none;
  }
  .scroll-down{
    display: none;
  }
}
@media screen and (max-with:990px) {
  #menu-icon{
    display: block;
  }
}
